<!DOCTYPE html>
<html>
    <head>
        <title>JokerZ</title>

    </head>




    <body>
        <div>
            <h1><a href="/">JokerZ Blog Creater</a> </h1>
        </div>

        <div>
            <p>Live Date: 15.03.18, 9.27PM</p>
            <h2><a href="">My First Post</a> </h2>
            <p>I Can Test</p>
        </div>

        <div>
            <p>Published: 15.03.18 9.30PM</p>
            <h2><a href="">My Second Post</a> </h2>
            <p>Hello Guys!</p>
        </div>
    </body>
</html>